table{
	border-collapse: collapse;
	width: 600px;
	margin: auto;
	font-family: Arial;
	font-size: 12px;
}

/* Cor BG TRs alternada*/
tr:nth-child(2n+3){
	background-color:#DBDBDB;
}
th,td{
	padding: 5px;
	text-align: left;
	vertical-align: baseline;
	padding-top: 10px;
}

/* Posição*/
.posi, tr td:nth-child(1){
	width: 5%;
}

/* Cidade e país */
tr td:nth-child(n+2):nth-child(-n+3){
	width: 20%;
}

/* Taxa, homicidios, habitantes */
.pop, tr td:nth-child(n+4):nth-child(-n+6){
	width: 15%;
}

/* Cor de texto da coluna cidades*/
tr td:nth-child(2){
	color: #0D5188;
}

/* Estilo da primeira linha */
.linha1, th, tr:first-child{
	color: white;
	background-color: #78b200;
	position: sticky;
	top: 0
}
